.title {
  /* Trên phải dưới trái */
  margin: 20px 0 20px 150px; 
}

body {
  background-color: #f9fafb;
  font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header {
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Body */
.body .sider {
  width: 250px;
  background-color: #ffffff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 95px;
  left: 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.03);
}

.body .main {
  position: relative;
  left: 150px;
  width: calc(100% - 80px);
}

.body .main .card {
  width: calc(100% - 200px);
  margin-right: auto;
  margin-left: auto;
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li {
  margin-bottom: 10px;
}

.sider .inner-menu ul li a {
  display: block;
  padding: 8px 12px;
  color: #4b5563;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

.sider .inner-menu ul li a:hover,
.sider .inner-menu ul li a.active {
  background-color: #e5f0ff;
  color: #2563eb;
}
/* End Sider */

/* table */
table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

table thead {
  background-color: #f1f5f9;
  color: #333;
  text-align: left;
}

table tbody tr:hover {
  background-color: #f9fafc;
}

table img {
  border-radius: 4px;
  max-width: 70px;
  height: auto;
}
/* End table */

/* Pagination */
.pagination {
  margin: 0;
}
/* End pagination */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */