/* Header */

/* header-top */
.header .header-top {
  padding: 10px 0;
  background: var(--bg1);
}

.header .header-top .welcome-message p {
  margin: 0;
  font-size: 18px;
}
/* end-header-top */

/* header-main */
.header .header-main {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 1px;
}

.header-main .inner-logo {
  width: 120px;
  height: auto;
}

.header-main .inner-logo img {
  width: 100%;
}

.header .header-main .inner-icons ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
  list-style: none;
}

.header .header-main ul li {
  font-size: 24px;
}

.header .header-main ul li a {
  color: var(--text);
}

.header-main .bar-btn {
  display: none;
}
/* end-header-main */

/* header-end */
.header-end {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header-end .inner-logo img {
  max-width: 100%;
  max-height: 50px;
}

.header-end .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-end .inner-menu > ul > li {
  margin-left: 20px;
}

.header-end ul li a {
  font-size: 16px;
  color: #242424;
  text-decoration: none;
}

.header-end .inner-menu ul li a:hover{
  color: var(--box);
}

.header-end .inner-search .form-group {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
}

.header-end .inner-search .form-group:hover {
  border-color: #999999;
  box-shadow: 0 0 6px #9999998a;
}

.header .header-end .inner-search input.form-control {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  flex: 1;
}

.header .header-end .inner-search button.btn {
  border: none;
  background-color: #999999;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.header .header-end .inner-search button.btn:hover {
  background-color: #999999;
}

.header .header-end .inner-search i.fa-solid {
  color: #fff;
  font-size: 22px;
}

/* End header-end */

/* Button */
.button {
  display: inline-block;
  padding: 13px 25px;
  border-radius: 2px 2px 2px 2px;
  background: #fff;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-one {
  background: black;
}

.button-one:hover {
  background: red;
}
/* End Button */

/* hero-single-slide*/
.hero-single-slide {
  background-image: url("/images/home4-slide1.jpg");
  padding: 150px 0;
  height: 630px;
  position: relative;
  background-position: center center;
}

.hero-single-slide a {
  text-decoration: none;
}

.hero-single-slide .inner-wrap {
  position: relative;
}

.hero-single-slide .inner-sub-title {
  font-size: 16px;
  color: #555555;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-single-slide .inner-title {
  font-size: 42px;
  color: var(--text);
  max-width: 350px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-single-slide .inner-desc {
  color: #555555;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-single-slide .button:nth-child(1) {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .hero-single-slide .inner-wrap {
    text-align: center;
  }
}

/* End hero-single-slide*/

/* Breadcrumb area start */
.breadcrumb-area {
  background: var(--bg1);
}

.breadcrumb-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0;
}

.breadcrumb-area .inner-wrap h1 {
  margin: 0;
}

.breadcrumb-area ul {
  margin: 10px 0;
  padding: 0;
  gap: 30px;
  display: flex;
  list-style: none;
}

.breadcrumb-area ul li a {
  color: var(--text);
  text-decoration: none;
}
/* End breadcrumb area start */

/* list-products */
.list-products {
  padding: 50px 0;
}

.list-products .col-12,
.list-products .col-md-6,
.list-products .col-lg-4 {
  display: flex;
}

.list-products .inner-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  transition: transform 0.2s ease;
}

.list-products .inner-item:hover {
  transform: translateY(-5px);
}

.list-products .inner-image {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.list-products .inner-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.list-products .product-info {
  margin-top: 10px;
}

.list-products .product-name a {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.list-products .product-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.list-products .product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.list-products .price-new {
  color: #e74c3c;
  font-weight: bold;
}

.list-products .price-old {
  color: #bbb;
  text-decoration: line-through;
}

.list-products .highlight-badge {
  background-color: green;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  z-index: 1;
}

.list-products .discount {
  background-color: #f39c12;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  z-index: 1;
}

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
/* End product-detail */


/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* Chat */
.chat {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.chat .inner-head {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat .inner-head .inner-avatar {
  background: #FE5DA3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.chat .inner-head .inner-name {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.chat .inner-body {
  padding: 10px;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-name {
  font-weight: 600;
}

.chat .inner-body .inner-content {
  background: #F1F1F1;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #FE5DA3;
  color: #fff;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
/* End Chat */

/* Emoji Icon */
.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}
/* End Emoji Icon */

/* box-typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* End box-typing */

/* box-user */
.box-user {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

.box-user [btn-deleted-friend] {
  display: none;
}

.box-user.refuse [btn-accept-friend] {
  display: none;
}

.box-user.refuse [btn-refuse-friend] {
  display: none;
}

.box-user.refuse [btn-deleted-friend] {
  display: inline-block;
}

.box-user [btn-accepted-friend] {
    display: none;
}

.box-user.accepted [btn-accept-friend] {
    display: none;
}

.box-user.accepted [btn-refuse-friend] {
    display: none;
}

.box-user.accepted [btn-accepted-friend] {
    display: inline-block;
}

.box-user .inner-status {
  font-size: 12px;
  color: #00d800;
  opacity: 0;
}

.box-user .inner-status[status="online"] {
  opacity: 1;
}
/* End box-user */

/* box-room */
.box-room {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-room .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f2f2;
  margin-right: 10px;
}

.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-room .inner-info {
  flex: 1;
}

.box-room .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
/* End box-room */