extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
block main 
  //- breadcrumb area start
  .breadcrumb-area
    h1 Shop 
    ul 
      li 
        a(href="/" class="fa-home")
          i(class="fa-solid fa-house")
      li 
        a(href="/")
          | Shop
    //- End breadcrumb area start

    //- List-products
  .list-products
    .container
      +product-grid(products)

  script(src="/js/script.js")