extends ../../layouts/default.pug

block main 
  //- breadcrumb area start
  .breadcrumb-area
    h1 Shop 
    ul 
      li 
        a(href="/" class="fa-home")
          i(class="fa-solid fa-house")
      li 
        a(href="/")
          | Shop
    //- End breadcrumb area start

    //- List-products
    .list-products
      .container 
        
    //- And list-products