extends ../../layouts/default.pug
include ../../mixins/product-layout.pug

block main 
  .list-products
    .container
      .row 
        .col-12 
          h2 Sản phẩm nổi bật
      +product-grid(productsFeatured)

  .list-products
    .container
      .row 
        .col-12 
          h2 Sản phẩm mới
      +product-grid(productsNew)